<form ng-submit="login()" novalidate>
        <div>
            <h1>Sign In</h1>
            <p>Signing in allows you to have private lists</p>
        </div>

        <div>
            <h1 ng-show="error.auth">Email or Password Error</h1>
            <h1 ng-show="error.syntax">Email Format Incorrect</h1>
            <h1 ng-show="error.val">Email and Password Field Must not be empty</h1>
        </div>

        <input type="email" id="at-field-email" ng-model="data.email" placeholder="Email" autocapitalize="none" autocorrect="off">
        <input type="password" id="at-field-password" ng-model="data.password" placeholder="Password" autocapitalize="none" autocorrect="off">
        <button class="btn-primary">Sign In</button>
</form>

